body{
    background-image:url('backgoundimg.jpg');
    font-family: 'Inconsolata', monospace;
    background: linear-gradient(
        rgba(0, 0, 0,0.7),
        rgba(0, 0, 0,0.7)
    ),url('backgoundimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    height: 100vh;
    margin: 0;
    overflow:hidden;
}
.watch{
    width:90%;
    max-width:40%;
    background-image:url('backgoundimg.jpg');
    background-size:cover;
    background-position:center;
    text-align: center;
    padding:40px 0;
    color:black;
    margin:200px auto 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1); 
}
.watch h1{
    font-size:50px;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items:center;
}
.buttons img{
    margin:0 20px;
    width:30px;
    cursor:pointer;
    transition:transform 0.5s ease;
}
.buttons img:nth-child(2){
    width:50px;
}
.buttons img:hover{
    transform:scale(1.2);
}
@media (max-width: 768px) {
    .watch {
        max-width: 90%;
        padding: 10px;
    }
    .watch h1 {
        font-size: 8vw;
    }
    .buttons img {
        width: 15vw;
    }
    .buttons img:nth-child(2) {
        width: 20vw;
    }
}
